body {
    background-color:black;
    font-family:arial;
    color:white
}

h1 {
    color:grey;
    font-family:verdana
}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin: auto;
    align:center;
}

button {
    background: #3477eb;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #6596eb
}
